body {
  background-color: #0D0D0D;
  width: 100vw;
  height: 100vh;
}
body article h1 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
body article h1:hover {
  text-shadow: 0px 0.2rem 1px rgba(205, 205, 205, 0.8);
  transform: scale(1.03, 1.03);
  transition: 2s;
}

@font-face {
  font-family: BasementGrotesque;
  src: url(../font/BasementGrotesque-Black_v1.202.otf);
}
* {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: BasementGrotesque;
  font-size: 1rem;
  list-style: none;
}

body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

/* estilos links */
.link {
  text-decoration: none;
}

.link:link {
  color: #591616;
}

.link:visited {
  color: #401616;
}

/* estilos links */
/* abro colores */
.text_color {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.main_h1-color {
  color: #8C1F1F;
}

.mian_figure-color {
  color: #591616;
}

.h2_footer-color {
  color: #401616;
}

.bg_nav-black {
  background-color: black;
}

.button_color-nav {
  background-color: #591616;
  border-color: #73553C;
}

.borde_aside-color {
  border: solid #8C1F1F;
  border-width: 0.4rem 0.4rem 0 0.4rem;
}

.border_footer {
  border: solid #8C1F1F;
  border-width: 0.4rem 0.2rem 0.4rem 0.2rem;
}

.footer_bg {
  background-color: #73553C;
}

.color_label-tienda {
  color: #8C1F1F;
}

/* cierro colores */
/* abro edicion de sizes */
.nav_img-size {
  height: 7rem;
}

.footer_svg-size {
  height: 2rem;
  width: 2rem;
}

.main_img-size {
  width: 100%;
}

.main_width {
  width: 50vw;
}

.mian_h1-size {
  font-size: 5rem;
}

.mian_text-size {
  font-size: 3rem;
}

/* cierro edicion de sizes */
.main_text-center {
  text-align: center;
}

/* abro display flex */
.flex_main {
  flex-direction: row-reverse;
}

.flex_aside {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex_aside-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.flex_footer-div {
  display: flex;
  justify-content: space-evenly;
}

.flex_footer-ul {
  display: flex;
  padding: 0 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.flex_footer-pagos {
  display: flex;
  flex-direction: column;
}

/* cierro display flex */
/* abro efectos */
.efecto_carousel:hover {
  box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  -webkit-box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  -moz-box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  transition: 1s;
}

.shadow_text:hover {
  text-shadow: 0px 0.2rem 1px rgba(205, 205, 205, 0.8);
  transform: scale(1.03, 1.03);
  transition: 2s;
}

.efecto_figure-img:hover {
  box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  -webkit-box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  -moz-box-shadow: -1px 1px 22px 9px rgba(120, 14, 33, 0.71);
  transform: scale(1.03, 1.03);
  transition: 1s;
}

/* cierro efectos */
@media (min-width: 768px) {
  .grid_body-index {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "logo carousel" "texto carousel";
  }
  #nav {
    grid-area: logo;
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    justify-content: flex-start;
  }
  #texto {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #carousel {
    grid-area: carousel;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .nav_nosotros {
    height: 13vh;
  }
  .main_nosotros {
    height: 70vh;
  }
  .footer_nosotros {
    height: 17vh;
  }
}

/*# sourceMappingURL=style.css.map */
